---
import Layout from "../../layouts/Layout.astro";
import axios from "axios"
import moment from "moment"

const usersData = await axios.get('http://localhost:8888/users')
const users = usersData.data.results

---

<Layout title="Users">
    <h1 class="text-5xl font-bold">List Users</h1>
    
    <!-- table - start -->
    <div class="overflow-x-auto">
        <table class="table">
            <!-- head -->
            <thead class="bg-[#1D222A]">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Joined</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                {users.map((user: { id: unknown; name: unknown; email: unknown; created_at: unknown; }) => (
                    <tr>
                        <th>{user.id}</th>
                        <td>{user.name}</td>
                        <td>{user.email}</td>
                        <td>{moment(user.created_at).format('LLLL')}</td>
                        <td class="flex gap-3">
                            <a class="btn btn-active btn-neutral" href={`/users/${user.id}`}>Edit</a>
                            <button class="action-delete btn btn-active btn-error" onclick="my_modal_1.showModal()" data-user-id={user.id}>Delete</button>
                        </td>
                    </tr>
                ))}
            </tbody>
        </table>
    </div>
    <!-- table - end -->

    <!-- modal : delete - start -->
    <dialog id="my_modal_1" class="modal modal-bottom sm:modal-middle">
    <div class="modal-box">
        <h3 class="font-bold text-lg">Delete</h3>
        <p class="py-4">Are you sure to delete with id?</p>
        <div class="modal-action">
        <form method="dialog">
            <!-- if there is a button in form, it will close the modal -->
            <button class="accept-delete-btn btn">Yes</button>
            <button class="btn">No</button>
        </form>
        </div>
    </div>
    </dialog>
    <!-- modal : delete - start -->
</Layout>

<script>
    const deleteBtn = document.querySelectorAll('.action-delete')
    const acceptDelBtn = document.querySelector('.accept-delete-btn')
    deleteBtn.forEach((btn) => (
        btn.addEventListener('click', (event) => {
            event.preventDefault()
            event.stopPropagation()
            acceptDelBtn.addEventListener('click', async(event)=> {
                event.preventDefault()
                try {
                    const user = await fetch(`http://localhost:8888/users/${btn.getAttribute('data-user-id')}`,{
                        method: "DELETE"
                    })

                    const userDeleted = await user.json()

                    if(userDeleted.success){
                        window.location.reload()
                    }

                } catch (error) {
                    console.log(error.message)
                }
            })
        })
    ))
</script>
